[submodule "Prototype1"]
	path = Prototype1
	url = https://github.com/Kowakoma/unityPrototype1.git
	branch = main
[submodule "Prototype2"]
	path = Prototype2
	url = https://github.com/Kowakoma/unityPrototype2.git
	branch = main
[submodule "PersonalProject"]
	path = PersonalProject
	url = https://github.com/Kowakoma/unityPersonalProject.git
[submodule "ModTheCube"]
	path = ModTheCube
	url = https://github.com/Kowakoma/unityModTheCube.git
[submodule "Prototype3"]
	path = Prototype3
	url = https://github.com/Kowakoma/unityPrototype3.git
[submodule "Prototype4"]
	path = Prototype4
	url = https://github.com/Kowakoma/Prototype4.git
